:root {
	// Base colors following TailwindCSS like naming convention
	--blue-600: #eef6fb;
	--blue-700: #5fb0e8;
	--blue-800: #2e4369;
	--gray-900: #333338;

	// Breakpoints
	--breakpoint-mobile: 768px;
	--breakpoint-tablet: 1024px;
	--breakpoint-desktop: 1216px;
	--breakpoint-widescreen: 1408px;

	// spacing
	--spacing-1: 0.25rem;
	--spacing-1_5: 0.375rem;
	--spacing-2: 0.5rem;
	--spacing-2_5: 0.625rem;
	--spacing-3: 0.75rem;
	--spacing-3_5: 0.875rem;
	--spacing-4: 1rem;
	--spacing-5: 1.25rem;
	--spacing-6: 1.5rem;
	--spacing-7: 1.75rem;
	--spacing-8: 2rem;
	--spacing-9: 2.25rem;
	--spacing-10: 2.5rem;
	--spacing-11: 2.75rem;
	--spacing-12: 3rem;
	--spacing-14: 3.5rem;
	--spacing-16: 4rem;
	--spacing-20: 5rem;
	--spacing-24: 6rem;
	--spacing-28: 7rem;
	--spacing-32: 8rem;
	--spacing-64: 16rem;

	//font sizes
	--font-size-xs: 0.75rem;
	--font-size-sm: 0.875rem;
	--font-size-base: 1rem;
	--font-size-lg: 1.125rem;
	--font-size-xl: 1.25rem;
	--font-size-2xl: 1.5rem;
	--font-size-3xl: 1.875rem;
	--font-size-4xl: 2.25rem;
	--font-size-5xl: 3rem;
	--font-size-6xl: 4rem;
	--font-size-7xl: 5rem;
	--font-size-8xl: 6rem;
}
